<p-dataTable [value]="pessoas" [paginator]="true" [rows]="5" [responsive]="true">
  <p-column field="nome" header="Nome"></p-column>
  <p-column field="cidade" header="Cidade"></p-column>
  <p-column field="estado" header="Estado"></p-column>
  <p-column field="ativo" header="Status" >
    <ng-template let-pessoa="rowData" pTemplate="body">
      <a href="#" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top">
          {{pessoa.ativo ? 'Ativo' : 'Inativo'}}
      </a>
    </ng-template>
  </p-column>
  <p-column styleClass="col-acoes">
      <ng-template pTemplate="body">
        <a pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
        <button pButton icon="fa fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
      </ng-template>
  </p-column>
</p-dataTable>
