<div class="ui-g">

  <div class="ui-g-12">
      <h1>Pessoas</h1>
  </div>

  <div class="ui-g-12  ui-fluid">
      <label>Nome</label>
      <input type="text" pInputText />
  </div>

  <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>

</div>

<div class="ui-g">
    <app-pessoa-grid [pessoas]="pessoas"></app-pessoa-grid>
</div>

<div class="ui-g-12">
    <a pButton label="Nova Pessoa"></a>
</div>
