<app-navabar></app-navabar>
<!-- <app-pessoa-cadastro></app-pessoa-cadastro> -->
<app-lancamento-cadastro></app-lancamento-cadastro>
<!-- <app-lancamentos-pesquisa></app-lancamentos-pesquisa> -->
<!-- <app-pessoas-pesquisa></app-pessoas-pesquisa> -->
